flask==2.0.1
requests==2.26.0
beautifulsoup4==4.10.0
newspaper3k==0.2.8
google-generativeai==0.3.1
dnspython==2.3.0
deep-translator==1.9.2
gtts==2.2.4
nltk==3.6.5
pandas==1.3.5
plotly==5.5.0
streamlit
numpy
lxml_html_clean
